<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <div class="topGradient">
            <div class="text-center">
                <a href="index.html"><img src="img/logo-blanco.svg" class="w-100 py-4" style="max-width: 140px;"></a>
            </div>
            <div class="text-center position-relative">
                <img src="img/placeImage.png" class="w-100" style="max-width: 80px;">
                <a href="infoCliente.html"><img src="img/eye.png" class="w-100"
                        style="max-width: 33px; position: absolute; top: 3px; right: 60px;"></a>
            </div>
            <div class="text-center mt-4">
                <p class="c_blanco nombreCliente">
                    <span>Nombre de Cliente</span>
                    <span class="d-sm-block">S.A de C.V</span>
                </p>
            </div>
        </div>

        <!-- Nav Item - Dashboard -->
        <li class="nav-item mt-5">
            <div style="padding: 0 1rem;">
                <a class="nav-link" href="#"><span>Mis Facturas</span></a>
            </div>
        </li>

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <div style="padding: 0 1rem;">
                <a class="nav-link" href="#"><span>Contactos Servicios</span></a>
            </div>
        </li>

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <div style="padding: 0 1rem;">
                <a class="nav-link" href="#"><span>Notificaciones</span></a>
            </div>
        </li>

        <!-- Nav Item - Dashboard -->
        <li class="nav-item position-absolute" style="bottom: 0;">
            <div style="padding: 0 1rem;">
                <a class="nav-link" href="index.html"><span>Cerrar sesión</span></a>
            </div>
        </li>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="row mt-4">
                    <div class="col-lg-3">
                        <img src="img/logo-color.svg">
                        <div class="d-flex align-items-center">
                            <img src="img/foto.png">
                            <p class="mb-0">
                                Asesor Uniclick
                                <span class="d-block"><strong>Ximena Sandoval</strong></span>
                            </p>
                        </div>
                        <div>
                            <span class="d-block" style="padding-left: 67px; margin-top: 30px;">55 2249 5828</span>
                            <span class="d-block" style="padding-left: 67px; margin-top: 20px;">xs@uniclick.mx</span>
                        </div>
                        <div class="mt-5 text-center">
                            <a href="#" class="btn" style="border: solid 1px; border-color: #1bd741; color: #1bd741; border-radius: 40px; width: 250px;
                /*! margin: auto; */
                ">
                                <div style="display: flex;justify-content: space-evenly;"><i class="fab fa-whatsapp"
                                        style="font-size: 40px;"></i><i
                                        style="text-align: left;/*! margin-left: 31px; */">Escríbenos en <span
                                            class="d-block">Whatsapp</span></i></div>
                            </a>
                        </div>
                        <div class="mt-4 text-center">
                            <a href="#" class="btn" style="border: solid 1px; border-color: #6794eb; color: #6794eb; border-radius: 40px; width: 250px;
                /*! margin: auto; */
                ">
                                <div style="display: flex;justify-content: space-evenly;"><i class="fas fa-headset"
                                        style="font-size: 40px;"></i><i
                                        style="text-align: left;/*! margin-left: 31px; */">Centro de atención <span
                                            class="d-block">a Clientes</span></i></div>
                            </a>

                        </div>
                    </div>
                    <div class="col-lg-9 shadow">
                        <div class="row">
                            <div class="col-6" style="text-align: left;"><img src="img/univisor.png" class="w-100"
                                    style="max-width: 200px;"></div>
                            <div class="col-6"
                                style="text-align: right; display: flex; align-items: center; justify-content: end;">
                                <img src="img/boton.png" class="w-100" style="max-width: 200px;"></div>
                        </div>
                        <div class="row">
                            <div class="col-4">

                                <div class="calendar"></div>
                                <script type="text/javascript">

                                    $('.calendar').pignoseCalendar({
                                        disabledWeekdays: [0, 6], // SUN (0), SAT (6)
                                        lang: 'es',
                                        scheduleOptions: {
                                            colors: {
                                                offer: '#4c94ee',
                                                ad: '#ff5f57',
                                                kek: '#00f6d0'
                                            }
                                        },
                                        schedules: [{
                                            name: 'offer',
                                            date: '2020-07-06'
                                        }, {
                                            name: 'ad',
                                            date: '2020-07-10'
                                        }, {
                                            name: 'kek',
                                            date: '2020-07-13'
                                        },

                                        {
                                            name: 'offer',
                                            date: '2020-07-09',
                                        }],
                                        select: function (date, context) {
                                            console.log('events for this date', context.storage.schedules);
                                        }
                                    });

                                </script>

                            </div>
                            <div class="col-4">

                                <div id="chart">
                                    <canvas id="myChart" height="100%" width="100%"></canvas>
                                </div>
                                <div id="chartjs-legend"></div>

                                <style type="text/css">
                                    ol,
                                    ul {
                                        list-style: none;
                                        margin: 0;
                                        padding: 0;
                                        text-align: left;
                                    }

                                    li {
                                        /*
  display: inline-table;
  */
                                    }

                                    #chart {
                                        /*
  position:relative;
  height: 100%;
  width: 100%;
  top:15%;
  margin:auto;
  */
                                    }

                                    #chartjs-legend {
                                        /*
  position:absolute;
  width:100%;
  bottom:10%;
  */
                                    }

                                    #chartjs-legend li {

                                        cursor: pointer;
                                        margin: 10px 4px;

                                    }

                                    #chartjs-legend li span {
                                        /*
  position:relative;
  padding: 6px 20px;
  border-radius:13px;
  color:white;
  z-index:2;
  */
                                    }
                                </style>

                                <script type="text/javascript">
                                    var data = {
                                        labels: [
                                            "Honda",
                                            "Toyota",
                                            "Hyundai",
                                            "Ford",
                                            "Nissan"
                                        ],
                                        datasets: [{
                                            data: [39, 22, 16, 12, 11],
                                            backgroundColor: [
                                                '#ff5f58',
                                                '#eaf33e',
                                                '#06c985',
                                                '#00d9ff',
                                                '#339dff'
                                            ],
                                            borderWidth: 0
                                        }]
                                    };

                                    var options = {
                                        animation: {
                                            animateRotate: true,
                                            animateScale: true
                                        },
                                        cutoutPercentage: 70,
                                        legend: false,
                                    }
                                    var ctx = $("#myChart");
                                    var myChart = new Chart(ctx, {
                                        type: 'doughnut',
                                        data: data,
                                        options: options
                                    });

                                    /*
                                    $("#chartjs-legend").on('click', "li", function() {
                                      myChart.data.datasets[0].data[$(this).index()] += 50;
                                      myChart.update();
                                      console.log('legend: ' + data.datasets[0].data[$(this).index()]);
                                    });
                                    $('#myChart').on('click', function(evt) {
                                      var activePoints = myChart.getElementsAtEvent(evt);
                                      var firstPoint = activePoints[0];
                                      if (firstPoint !== undefined) {
                                        console.log('canvas: ' + data.datasets[firstPoint._datasetIndex].data[firstPoint._index]);
                                      } else {
                                        myChart.data.labels.push("New");
                                        myChart.data.datasets[0].data.push(100);
                                        myChart.data.datasets[0].backgroundColor.push("red");
                                        myChart.options.animation.animateRotate = false;
                                        myChart.options.animation.animateScale = false;
                                        myChart.update();
                                        $("#chartjs-legend").html(myChart.generateLegend());
                                      }
                                    });
                                    */
                                </script>

                            </div>
                            <div class="col-4">
                                <img src="img/cap5v2.png" class="w-100">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-lg-3">
                        <div class="card shadow mb-4">
                            <!-- Card Body -->
                            <div class="card-body">
                                <p style="color: #6793EB; font-size: 30px;">Unifactor</p>
                                <p style="padding-left: 25px;">Monto Disponible</p>
                                <p style="padding-left: 15px;">$2,584,195</p>
                                <p style="padding-left: 25px;">Monto Dispuesto</p>
                                <p style="padding-left: 15px;">$2,415,195</p>
                                <p style="padding-left: 25px;">Monto Total</p>
                                <p style="padding-left: 15px;">$5,000,000</p>
                                <a href="dashboard.html" class="btn btn-primary w-100">
                                    <span class="text">Ver detalle <i class="fas fa-angle-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>