<div class="login-container" *ngIf="!logged">
    <div class="container">
        <div class="row">
            <div class="col-5 mx-auto">
                <div class="text-center">
                    <img src="../../../assets/img/logo-color.svg" class="w-100" style="max-width: 250px;">
                    <p class="text-center"
                        style="color: #3ec2fd; font-weight: 800; font-size: 2rem; margin-top: 50px; margin-bottom: 50px;">
                        El poder de tu negocio
                        <span class="d-block">al alcance de tus manos</span>
                    </p>
                </div>
                <div class="text-center shadow"
                    style="background-color: #fff; padding: 40px 20px 20px 20px; border-radius: 10px;">
                    <form method="POST" (submit)="goToDashboard()">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Usuario"
                                style="border-radius: 15px; border-color: #6991ea;">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Contraseña"
                                style="border-radius: 15px; border-color: #6991ea;">
                        </div>
                        <p><a href="#">¿Olvidaste tu contraseña?</a></p>
                        <button type="submit" class="btn "
                            style="background: linear-gradient(90deg, rgba(132,92,217,1) 0%, rgba(103,148,235,1) 100%); color: #fff; width: 100%; border-radius: 15px; border: unset; margin-bottom: 20px;">Iniciar
                            Sesión</button>
                        <p>Si no tienes cuenta <a href="">registrate aqui</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: #f8f9fa; text-align: center; padding-top: 25px; padding-bottom: 10px; margin-top: 50px;">
        <p style="color: #777777;">UNICLICK &copy; 2020 Derechos Reservados - Presidente Masaryk 111 - Polanco - 11560 -
            Ciudad de México</p>
    </div>
</div>
