.login-container {
    background-image: url(../../../assets/img/cap4.png);
    background-position-x: center;
    background-size: cover;
    min-height: 100vh;

    .container {
        padding-top: 100px;
        min-height: 100vh;
    }
}
