/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Open Sans", sans-serif;
}
.custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Explorar";
}

.c_blanco {
    color: #fff;
}
.c_azul {
    color: #6793eb;
}
.c_verde {
    color: #34cc49;
}
#wrapper #content-wrapper {
    background-color: #fff;
}
.sombreado {
    background-color: #e1dddd;
}
.topGradient {
    background: linear-gradient(180deg, rgba(132, 92, 217, 1) 0%, rgba(103, 148, 235, 1) 100%);
}
.bg-cyan {
    background-color: #00f6d1;
}
.bg-cyan-blue {
    background-color: #00d0f1;
}
.bg-purple {
    background-color: #825ed0;
}
.bg-purple-blue {
    background-color: #6793eb;
}
.bg-purple-gris {
    background-color: #e2e0e2;
}
.bg-gradient-primary {
    background-color: #f2f2f2;
    background-image: unset;
    background-size: cover;
}
.sidebar {
    width: 17rem !important;
}

.border-bottom-azul {
    border-bottom: 0.4rem solid #6793eb !important;
    border: none;
}
.border-bottom-cyan {
    border-bottom: 0.4rem solid #1de1d7 !important;
    border: none;
}
.border-bottom-purple {
    border-bottom: 0.4rem solid #876bdb !important;
    border: none;
}
.border-bottom-gris {
    border-bottom: 0.4rem solid #e2e0e2 !important;
    border: none;
}
.color-negro {
    color: black;
}

.nav-item div a {
    width: 100% !important;
    padding: 10px 15px !important;
    color: #828282 !important;
}
.nav-item div a.activo {
    width: 100% !important;
    color: #fff !important;
    background-color: #6793eb;
    border-radius: 5px;
    padding: 10px 15px !important;
}

.nombreCliente {
    font-size: 0.9rem;
    line-height: 1.2rem;
}
.shadowV {
    max-width: 33px;
    position: absolute;
    top: 3px;
    right: 60px;
}
.menuText {
    color: #828282;
}

/* pretty switch */

.pretty.p-switch .state label::after,
.pretty.p-switch .state label::before {
    left: 3px;
    top: -1px;
}

/* calendar */
#wrapper {
    padding-bottom: unset;
}
.pignose-calendar {
    width: 100%;
    background-color: #fff;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.pignose-calendar .pignose-calendar-top {
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* calendar */

/* button upload */

/* switch */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: -5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #5cb85c;
}

input:focus + .slider {
    box-shadow: 0 0 1px #5cb85c;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* switch */

/* calendario */
.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sat,
.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sun {
    color: unset;
}
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sat a,
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sun a {
    color: unset;
}
