<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <div class="topGradient">
        <div class="text-center">
            <a href="index.html"><img src="img/logo-blanco.svg" class="w-100 py-4" style="max-width: 140px;"></a>
        </div>
        <div class="text-center position-relative">
            <img src="img/placeImage.png" class="w-100" style="max-width: 80px;">
            <a href="infoCliente.html"><img src="img/eye.png" class="w-100"
                    style="max-width: 33px; position: absolute; top: 3px; right: 60px;"></a>
        </div>
        <div class="text-center mt-4">
            <p class="c_blanco nombreCliente">
                <span>Nombre de Cliente</span>
                <span class="d-sm-block">S.A de C.V</span>
            </p>
        </div>
    </div>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item mt-5">
        <div style="padding: 0 1rem;">
            <a class="nav-link" href="#"><span>Mis Facturas</span></a>
        </div>
    </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <div style="padding: 0 1rem;">
            <a class="nav-link" href="#"><span>Contactos Servicios</span></a>
        </div>
    </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <div style="padding: 0 1rem;">
            <a class="nav-link" href="#"><span>Notificaciones</span></a>
        </div>
    </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item position-absolute" style="bottom: 0;">
        <div style="padding: 0 1rem;">
            <a class="nav-link" href="index.html"><span>Cerrar sesión</span></a>
        </div>
    </li>

</ul>